{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<style>
    .blog-block{
        display: grid;
        grid-template-columns: 50px 1fr;
    }

    .photo{
        width:140px;
        margin-top: 0px;
    }

    .info{
        margin-left:130px;
    }

    .title{
      margin-top: 10px;
      font-size: 35px;
      line-height: 20px;

    }

    .summary{
      font-size: 17px;
      margin-top: -5px;
    }

    .date{
        color: gray;
        font-size: 15px;
    }

    .grid{
        display: grid;
        grid-template-rows: 30px 30px 30px;
        row-gap: 20px;
        padding: 50px 50px 10px 100px;
    }
</style>

<h1 class="text-center">Blog Articles</h1>
{% for article in articles %}
<div class="grid">
    <div class="blog-block">
        <div class="picture">
            {% if article.blog_picture %}
            <img class="photo" src="{{article.blog_picture.url}}">
            {% else %}
            <img src="./media/images/none_picture.jpg" class="photo">
            {% endif %}
        </div>

        <div class="info">
            <a href="index/{{article.slug}}" class="title">{{article.title}}</a>
            <p class="date">{{article.created}}</p>
            <p class="summary">{{article.summary}}</p>
        </div>
    </div><br><br>
</div>
{% endfor %}

<br><div class="container">
    <nav aria-label="Page navigation">
        <ul class="pagination pagination-lg">
            {% if articles.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1">&laquo;First</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ articles.previous_page_number }}">Previous</a></li>
            {% endif %}

            {% if articles.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{articles.next_page_number}}">Next</a></li>
                <li class="page-item"><a class="page-link" href="?page={{articles.paginator.num_pages}}">Last &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
</div>

<!--{% if articles.has_previous %}-->
<!--    <a href="?page=1">&laquo;First</a>-->
<!--    <a href="?page={{ articles.previous_page_number }}">Previous</a>-->
<!--{% endif %}-->

<!--{% if articles.has_next %}-->
<!--    <a href="?page={{articles.next_page_number}}">Next</a>-->
<!--    <a href="?page={{articles.paginator.num_pages}}">Last &raquo;</a>-->
<!--{% endif %}-->
{% endblock %}



