{% extends 'aplicatie/base.html' %}
{% block title %}Search{% endblock %}

{% block content %}

    <h1 class="text-center">Lista note</h1>

    <div class="container">
      <ul class="list-group">
        {% for articol in cuvant %}
        <li class="list-group-item">
            <p class="h2"><a href="/{{articol.slug}}">{{articol.title}}</a></p>
            <p class="h6">{{articol.summary}}</p>
        </li>
        {% endfor %}
      </ul>
      <a href="/"><button class="btn btn-primary">Inapoi</button></a>
    </div>

{% endblock %}