{% extends 'aplicatie/base.html' %}

{% block title %}{% endblock %}

{% block content %}
<div class="container">
    {% for articol in user.article.all %}
    <ul class="list-group">
        <li class="list-group-item"><p class="h2"><a href="/{{articol.id}}">{{articol.title}}</a></p>
        <p class="h6">Summary - {{articol.summary}}</p>
        <a href="delete/{{ articol.id }}" type="btn btn-succcess">Delete</a>-
        <a href="editare/{{articol.id}}" type="btn btn-succescc">Edit</a></li>
    {% endfor %}
    </ul>
</div>
{% endblock %}